+ Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

+ H0= male-female buyer ratios are smiliar across regions
+ Ha = at least 1 male-female buyer ratios are different across the region
+ aplha = 0.05

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
BR=pd.read_csv('BuyerRatio.csv')

In [3]:
BR.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [16]:
BR_1=BR.drop(['Observed Values'],axis=1)
BR_1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [24]:
table = np.array(BR_1.iloc[0:,])
table

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [30]:
stat,p,dof,expected=stats.chi2_contingency(table)
print(p)

0.6603094907091882

In [22]:
table1 = [[50,142,131,70],[435,1523,1356,750]]
table1

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [28]:
stat, p, dof, expected=stats.chi2_contingency(table1)
print (p)

0.6603094907091882

+ pvalue > alpha , accept null hypothesis 
+ male female buyer ratio are similar across the region