* TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences
* Ho = all are same
* Ha = atleast 1 is different 
* aplha = 0.05

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df =pd.read_csv("Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
PH=df["Phillippines"].tolist()

In [4]:
PHD=PH.count('Defective')
EPH = PH.count("Error Free")
print(PHD)
print(EPH)

29
271

In [5]:
ID=df["Indonesia"].tolist()

In [6]:
DID=ID.count("Defective")
EID = ID.count("Error Free")
print(DID)
print(EID)

33
267

In [7]:
Malta=df["Malta"].tolist()
DM= Malta.count("Defective")
EM = Malta.count("Error Free")
print(DM)
print(EM)

31
269

In [8]:
IND=df["India"].tolist()
DIND = IND.count("Defective")
EIND = IND.count("Error Free")
print(DIND)
print(EIND)

20
280

In [9]:
observation=[[29,33,31,20],[271,267,269,280]]

In [10]:
stats,p,dof,exp=stats.chi2_contingency(observation)
print(p)

0.2771020991233135

* P value is grather than aplha , we are fail to reject null Hypothesis

* In all centers % of defective are similar